.video {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56%;
}

.video iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}



.map {
    position:relative;
    width:100%;
    height:0;
    padding-bottom: 56%;
}

.map iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.image {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56%;
}

.image iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}